
data/wiki_morph.json
*.pyc
__pycache__/GUI_Special_Items.cpython-39.pyc
__pycache__/GUI.cpython-39.pyc
*.pyc
.idea/misc.xml
*.iml
*.pyc
*.xml
.idea/misc.xml
.idea/Morph2Excel - Wiki_Morph_API_for_ERSaF.iml
*.pyc
